*{
  margin: 0;
  padding: 0;
}
.table-container {
  float: left;
  max-width: 60%;
  background-image: url ('/images/395324-PCH347-910.jpg');
  background-repeat: no-repeat;
}
.main-title {
text-align: right;

}
h1 {
  font-size: 20px;
  color: red;
}
.container-cards{
  display: flex;
}