*{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-image: url("../images/background-grey.jpg");
  background-size: 50%;
  height: 300px;
}
.container{
  position: relative;
  left: 350px;
  max-width: 60%;
  height: 100%;
  
}
#start{
  top:500px;
  left:700px;
  size: 50%;
}
#btn-start{
  padding:10px;
  font-size: 30px;
  border-radius: 0.5em;
  background-color: red;
  color: white;
  font-family: Arial;
  position: relative;
  left:264px;
}
.img-start{
  padding-top: 80px;
  padding-left: 80px;
}

h1{
  text-align: center;
  color:white;
  font-size: 40px;
}

h2{
  color: white;
  padding-right: 15px;
}

#container-cards{
  /*
  position:absolute;*/
  padding-left: 30px;
  padding-top: 5px;
  display: none;
  max-width: 80%;
}
#container-cards h1{
  font-size: 25px;
}

#cards-dealer{
  display: flex;
  padding-left: 10px;
  padding-top: 80px;
  clear: both;
  margin-top: -10px;

}
#cards-dealer img {
  width: 10%;
  height: 10%;
  padding-left: 10px;
}

#cards-table{
  padding-left: 10px;
  position: relative;
  top:-75px;
  left:250px;
  clear:both;
}

#cards-table img {
  width: 12%;
  height: 12%;
}
#cards-hand-0 h2{
  margin-top:-20px;

}
#cards-hand-1{
  display: block;
  padding-bottom: 20px;
}
#cards-hide-1{
  display: none;
  padding-top: 70px;
  padding-bottom: 20px;
}
#cards-hide-1 img {
  width: 12%;
  height: 12%;
  top:-100px;
  padding-left:20px;
  max-width: 800px;
  margin-top: -80px
}

#cards-hand-1 img{
  width: 12%;
  height: 12%;
  padding-left: 20px;
}
#cards-hand-0{
  top:-100px;
  padding-left:20px;
  max-width: 600px;
  margin-top: -80px;
  display: none;
}
#cards-hand-0 img{
  width: 12%;
  height: 12%;
  padding-right:20px;
}
#cards-hide-0{
  display: block;
}
#cards-hide-0 img {
  width: 12%;
  height: 12%;
  top:-100px;
  padding-left:20px;
  max-width: 600px;
  margin-top: -80px
}

#title-player1 h2{
  position: relative;
  top:-80px;
}


#start-screen{
  display:block;
}
#start-screen h1{
  position: relative;
  padding-top: 20px;
  text-align: center;
  left:-65px;
}
#container-hide-player1{
  padding-top: 20px;
}

#gameover-screen{
  display:none;
  left: 40%;



}
#player-name{
  font-size: 30px;
  text-align: center;
  padding-bottom: 150px;
  padding-top:20px; 
}
#btn-restart{
  padding:10px;
  font-size: 30px;
  border-radius: 0.5em;
  background-color: red;
  color: white;
  font-family: Arial;
  position: relative;
  left: 40%;

}

#popup-container{
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#btn-player{
  cursor: pointer;
  border-radius: 0.5em;
  padding: 20px;
}
#btn-player-wrong{
  cursor: pointer;
  border-radius: 0.5em;
  padding: 20px;
}

#popup-container #popup-player{
  display: none;
  width: 100%;
  height:540px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 0%;
  top: 25px;
  margin-left: 0px;
  opacity:1;
}

#popup-container #popup-player-wrong{
  display: none;
  width: 100%;
  height:540px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 0%;
  top: 25px;
  margin-left: 0px;
  opacity:1;
}
#popup-player .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
#popup-player img {
    display:flex;
  padding-left: 250px;
  max-width: 10%;
}
#popup-player-wrong img {
  display:flex;
padding-left: 250px;
max-width: 10%;
}

#popup-player .text-player{
  margin-top:10px;
  padding-top:15%; 
  color:white;
}

#popup-player-wrong .text-player{
  margin-top:10px;
  padding-top:15%; 
  color:white;
}
#popup-player h1{
  color:white;
}  


#popup-player h1{
  color:black;
  
}
#gameover-cropier{
padding-left: 40%;
max-width: 15%;

}


