*{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-image: url("../images/background_green.jpg");
  background-size: 100%;
  height: 500px;
}
.container{
  position: relative;
  left: 350px;
  max-width: 60%;
  
}
#start{
  top:500px;
  left:700px;
  size: 50%;
}
#btn-start{
  padding:10px;
  font-size: 30px;
  border-radius: 0.5em;
  background-color: red;
  color: white;
  font-family: Arial;
  position: relative;
  top:50px;
  left:450px;
}
.img-start{
  padding-top: 150px;
  padding-left: 300px;
}

h1{
  text-align: center;
  color:white;
  font-size: 40px;
}

h2{
  color: white;
  padding-right: 15px;
}

#container-cards{
  /*
  position:absolute;*/
  padding-left: 150px;
  padding-top: 10px;
  display: none;
  max-width: 60%;
}

#cards-dealer{
  display: flex;
  padding-left: 10px;
  padding-top: 30px;
  clear: both;

}
#cards-dealer img {
  width: 15%;
  height: 15%;
  padding-left: 10px;
}

#cards-table{
  padding-left: 10px;
  position: relative;
  top:10px;
  left:250px ;
}

#cards-table img {
  width: 15%;
  height: 15%;
}

#cards-hand-0{
  padding-top:20px;
  display: flex;
  max-width: 600px;
}
#cards-hand-0 img{
  width: 15%;
  height: 15%;
  padding-right:10px;
}

#cards-hand-1 {
  padding-top:30px;
  display: flex;
}

#cards-hand-1 img{
  width: 15%;
  height: 15%;
  padding-left: 10px;
}

#cards-hand-hide{
  padding-top:50px;
  display: none;
}

#start-screen{
  display:block;
}
#start-screen h1{
  padding-top: 100px;
  text-align: center;
}
#container-hide-player1{
  padding-top: 20px;
}

#gameover-screen{
  display:none;
}

#popup-container{
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#popup-container #popup-player{
  display: none;
  width: 100%;
  height:300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 0%;
  top: 250px;
  margin-left: 0px;
  opacity: 0.8;
}
  #popup-player .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity:0.51;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.5 ;}
  }


  #btn-player{
    padding: 20px;

  }

  /*
  display:block;
  
  padding-top:200px; 
  height: 300px;
  width: 100%;
  border-radius: 1em;
  background-color:white;
  opacity: 20%;
  top:100px;
  bottom: 200px;
  visibility: hidden;
  width: 600px;
  height:300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 5;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0.5;
  */

#popup-player h1{
  color:black;
  
}


/*
.container{
  max-width: 80%;
}

footer {

  background-repeat: no-repeat;
  
}
.main-title {
text-align: center;

}
.container-dealer{
  display:flex;
  flex-direction: row;
  padding-bottom: 50px;
}
#container-cards{
  display: flex;
  clear: both;
  padding-bottom: 50px;
}
.img-card{
  max-width: 50%;
}
*/
